@charset "UTF-8";
body {
  font-family: "Yu Gothic", "游ゴシック体";
  line-height: 1.5;
}

body .clear::after {
  content: "";
  clear: both;
  display: block;
}

body a {
  text-decoration: none;
}

body img {
  max-width: 100%;
  height: auto;
  border: none;
}

body .section {
  margin: 0 auto;
  padding: 90px 0;
}

body .title {
  font-size: 32px;
  text-align: center;
}

body .title::after {
  content: "";
  background-color: #e6b2c6;
  height: 3px;
  width: 70px;
  display: block;
  margin: 8px auto 0 auto;
}

body .subtitle {
  font-size: 16px;
  padding: 30px 0 30px 0;
  text-align: center;
}

body .bold {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

body .bold2 {
  padding-top: 20px;
}

header {
  background-color: #d77fa1;
  height: 70px;
}

header .container {
  width: 1024px;
  margin: 0 auto;
}

header a {
  color: #fef6fb;
}

.navbar img {
  float: left;
  height: 70px;
}

.navbar .nav-left {
  float: right;
}

.navbar .nav-left .nav-item {
  float: left;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 70px;
}

.main-visual {
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
  height: 650px;
  color: #fef6fb;
  text-align: center;
}

.main-visual .main-title {
  font-size: 64px;
  margin-bottom: 10px;
  padding-top: 200px;
}

.main-visual .main-subtitle {
  font-size: 20px;
}

.portfolio {
  background-color: #d6e5fa;
  color: #251f44;
  text-align: center;
}

.portfolio .container {
  width: 920px;
}

.portfolio-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-contents a:hover {
  opacity: 0.8;
}

.portfolio-contents img {
  height: 250px;
  width: 300px;
  float: left;
}

.portfolio-contents .portfolio-item:nth-child(-n+3) {
  margin-bottom: 10px;
}

.portfolio-contents .portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.modal .big_img {
  position: absolute;
  width: 80%;
  min-width: 800px;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.modal .close_btn {
  color: #e6b2c6;
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 0;
}

.modal .close_btn a {
  color: #e6b2c6;
  text-decoration: none;
}

.feature .container {
  width: 980px;
}

.strength {
  display: flex;
}

.strength .box-icon {
  font-size: 60px;
  text-align: center;
  display: block;
}

.strength .box-heading {
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}

.strength .box:nth-child(2) {
  margin: 0 10px;
}

.profile {
  background-color: #d6e5fa;
}

.profile .container {
  width: 1024px;
}

.my-profile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.my-profile .profile-left {
  width: 50%;
  float: left;
  text-align: center;
}

.my-profile .profile-right {
  width: 50%;
  float: right;
}

.contact .container {
  width: 800px;
}

.contact a {
  color: #251f44;
  border-bottom: 1px solid #000;
}

.contact-left {
  width: 50%;
  float: left;
}

.contact-right {
  width: 50%;
  float: right;
}

.contact-right .fab {
  font-size: 50px;
}

.contact-right .fa-twitter {
  margin: 0 20px;
}

.contact-item1 {
  margin: 0 auto;
  width: 180px;
}

.contact-item2 {
  margin: 0 auto;
  width: 180px;
}

footer {
  background-color: #d77fa1;
  color: #fef6fb;
  height: 60px;
}

footer .footer-sub {
  font-size: 16px;
  text-align: center;
  line-height: 60px;
}

#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

#page_top a {
  background-color: #e6b2c6;
  color: #fef6fb;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  font-size: 40px;
  border-radius: 50%;
  box-shadow: 0 0 8px gray;
}

#page_top a:hover {
  background-color: #d6e5fa;
  text-decoration: none;
}

#page_top a:active {
  box-shadow: 0 0 16px gray;
  padding: 17px;
}
